@import '../styles/variables.scss';

.note-list-item {
  composes: padding-list-xs non-selectable from '../styles/utils.scss';
  display: flex;
  &:active {
    background-color: $list-item-selection;
  }
}

.title {
  composes: ellipsize from '../styles/utils.scss';
}

.selected {
  composes: list-item-selection from '../styles/utils.scss';
  :focus & {
    background-color: $accent-medium;
    color: white;
  }
}