.note-list-item {
  composes: surface padding-list-xs unanchor from '../styles/utils.scss';
  display: flex;
}

.title {
  composes: ellipsize from '../styles/utils.scss';
}

.selected {
  composes: surface-selection from '../styles/utils.scss';
}