@import '../styles/variables.scss';

.note {
  height: 100%;
  box-sizing: border-box;
  overflow: auto;

  :global(.DraftEditor-root), :global(.DraftEditor-editorContainer) {
    height: 100%;
  }
  :global(.public-DraftEditor-content) {
    height: 100%;
    padding: $space-m;
  }
}