@import './styles/variables.scss';

html, body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-family: avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

#root {
  height: 100%;
}

:-webkit-any-link {
  text-decoration: none;
  color: $accent-intense;
}